.pageWrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.demoLink {
  position: fixed;
  top: var(--space-5);
  right: var(--space-5);
  z-index: 100;
  text-decoration: none;
}

@media (min-width: 768px) {
  .demoLink {
    top: var(--space-7);
    right: var(--space-7);
  }
}
